/*-- colours --*/

:root {
    --grey: #2D2E2F;
    --ltgrey: #F2F2F2;
    --midgrey: #6c6e70;
    --dkgrey: #242526;
    --bordergrey: #CBCCCE;
    --red: #EE0000;
    --white: #ffffff;
    --black: #000000;
}

/* -- text styles -- */

body {
    font-family: Times, 'Times New Roman', serif;
}

header a {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 600;
    letter-spacing: 0.2em;
}

header a:hover {
    color: var(--red)
}

h1 {
    font-size: 2.2rem;
    font-weight: lighter;
    border-top: 0.2em solid var(--black);
    display: inline-block;
    margin-top: 0;
    margin-left: 4vw;
}

a {
    color: var(--grey);
}


/* mobile first */

body {
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-template-columns: 1fr; */
}

/* header - plus hide parts */
header, .headertop {
    display: flex;
    justify-content: space-between; 
}

header {
    border-top: 0.4rem solid var(--black);
    border-bottom: 1px solid var(--grey);
    padding-left: 4vw;
    padding-right: 4vw;
}

/* hide non-mobile content */
.subnav-content, .subscribe, .headerbtm nav, .subnavbtn span, .subnavbtn i, .overlay-content {
    display: none;
}

/* style mobile header objects */
.headertop img {
    width: 40vw;
}

.subnav{
    align-self: center;
    margin-left: 30%;
}

.subnavbtn {
    background-color: var(--white);
    border: none;
    color: var(--midgrey);
    /* padding: 20px 48px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-style: normal;
    border-right: solid 4px var(--bordergrey);
    /* margin-top: 0.5em; */
}

.icon {
    font-size: 1.5em;
}

/* main styles */

main {
    /* display: grid; */
    border-top: 20vh solid var(--ltgrey);
}

main section {
    border-top: 0.1rem solid var(--black);
}

.tilerow {
    border-top: none;
     display: grid;
    grid-auto-rows: auto; 
    /* grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); */
}

.tilebg a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    text-decoration: none;

}

.tilebg a img {
    width: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
    min-height: 400px;
    margin-bottom: 1em;
}
.tilebg a img::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -150px;
    height: 150px;
    width: 100vw;
    content: '';
  }

.tilebg a div {
    grid-row: 2/-1;
    grid-column: 1/-1; 
    color: var(--white);
    text-align: center;
    padding: 4vw;
    padding-bottom: 0;   
}

.tilebg a div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.tilebg a div h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}

.tilesm a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    margin: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--bordergrey);
    text-decoration: none;
}

.tilesm a img {
    max-width: 35vw;
}

.tilesm a div p {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.tilesm a div h2 {
    font-size: 1.2rem;
}

.tilerow p {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: arial;
}

footer {
    width: 100%;
    overflow: hidden;
    background-color: var(--grey);
    padding-top: 5rem;
}

footer #logo {
    
    background-color: var(--dkgrey);
}

footer #logo path {
    fill: var(--grey);
}

