/*-- colours --*/

:root {
    --grey: #2D2E2F;
    --ltgrey: #F2F2F2;
    --midgrey: #6c6e70;
    --dkgrey: #242526;
    --bordergrey: #CBCCCE;
    --red: #EE0000;
    --white: #ffffff;
    --black: #000000;
}

/* -- text styles -- */

body {
    font-family: Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

header a {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 600;
    letter-spacing: 0.2em;
}

header a:hover {
    color: var(--red)
}

h1 {
    font-size: 2.2rem;
    font-weight: lighter;
    border-top: 0.2em solid var(--black);
    display: inline-block;
    margin-top: 0;
    margin-left: 4vw;
}

a {
    color: var(--grey);
}


/* mobile first */

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
}

/* header - plus hide parts */
header, .headertop {
    display: flex;
    justify-content: space-between; 
}

header {
    border-top: 0.4rem solid var(--black);
    border-bottom: 1px solid var(--grey);
    padding-left: 4vw;
    padding-right: 4vw;
}

/* hide non-mobile content */
.subnav-content, .subscribe, .headerbtm nav, .subnavbtn span, .subnavbtn i, #overNav {
    display: none;
}

/* style mobile header objects */
.headertop img {
    width: 40vw;
}

.subnav{
    align-self: center;
    margin-left: 30%;
}

.subnavbtn {
    background-color: var(--white);
    border: none;
    color: var(--midgrey);
    /* padding: 20px 48px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-style: normal;
    border-right: solid 4px var(--bordergrey);
    /* margin-top: 0.5em; */
}

.icon {
    font-size: 1.5em;
}

/* main styles */


.tilerow {
    border-top: none;
     display: grid;
    grid-auto-rows: auto; 
    /* below makes auto responsive grid sites if the content is simple */
    /* grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); */
}

.tilebg a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    text-decoration: none;

}

.tilebg a img {
    width: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
    min-height: 400px;
    margin-bottom: 1em;
}
.tilebg a img::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -150px;
    height: 150px;
    width: 100vw;
    content: '';
  }

.tilebg a div {
    grid-row: 2/-1;
    grid-column: 1/-1; 
    color: var(--white);
    text-align: center;
    padding: 4vw;
    padding-bottom: 0;   
}

.tilebg a div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.tilebg a div h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}
.tilesm{
    display: flex;
}

.tilesm a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    margin: 1rem;
    border-bottom: 1px solid var(--bordergrey);
    text-decoration: none;
}

.tilesm a img {
    max-width: 35vw;
}

.tilesm a div p {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.tilesm a div h2 {
    font-size: 1.2rem;
}

.tilerow p {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: arial;
}

footer {
    width: 100%;
    overflow: hidden;
    background-color: var(--grey);
    padding-top: 5rem;
}

footer #logo {
    
    background-color: var(--dkgrey);
}

footer #logo path {
    fill: var(--grey);
}


/* show and hide the sub nav modal for countries */

.subnav-content {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    color: var(--white);
}
.overlay-content a {
    color: var(--white);
}
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--white);
}
.overlay-content div {
    display: flex;
    flex-direction: column;
}
  
  /* The navigation links inside the overlay */
  .subnav-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--white)
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .subnav-content a:hover, .overlay a:focus {
    color: var(--white);
  }
  
  /* Position the close button (top right corner) */
  .subnav-content .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .subnav-content a {font-size: 20px}
    .subnav-content .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media only screen and (min-width: 769px) { 
    
    h1 {
        font-size: 4em;
        border-top: 8px solid var(--black);
        margin-top: 0;
        margin-left: 5rem;
    }
    
    header a:hover {
        color: var(--red)
    }
    
    .subscribe, .headerbtm nav, .subnavbtn span, .subnavbtn i {
        display: block;
    }

    header {
        display: flex;
        flex-flow: column nowrap;
        border-top: 1rem solid var(--black);
        padding-left: 0vw;
        padding-right: 0vw;
    }

    .headertop {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .headertop img {
        width: 20vw;
    }

    .headerbtm {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
    }

    .subnavbtn {
        color: var(--red);
        padding: 20px 40px;
        border-right: none;
        display: flex;
        justify-content: space-evenly;
        width: 230px;
        font-size: 0.7rem;
    }
    
    .subnavbtn span {
        color: var(--grey);
    }
    
    .subnavbtn:hover {
        background-color: var(--ltgrey);
    }

    header section nav {
        width: 65%;
    }

    header section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    header section .subnav {
        max-width: 30%;
        margin-right: 0%;
        text-align: right;
        align-self: auto;
        margin-left: 0%;
    }
    
    header section .subnav button {
        margin-top: -20px;
    
    }
    
    header .headerbtm {
        border-top: solid 1px var(--ltgrey);
        border-bottom: solid 1px var(--bordergrey);
        height: 60px;
    }

    header .headerbtm nav {
        padding-left: 4vw;
    }

    header .headerbtm p {
        padding-right: 4vw;
    }
    
    header section nav {
        width: 65%;
    }
    
    header section nav ul {
        margin-left: 0%;
        margin-right: 5%;
        padding: 0;
        display: inline-flex;
        list-style-type: none;
        height: 58px;
    }
    
    header section nav ul li a {
        text-decoration: none;
        padding: 8px;
        display: block;
        text-align: center;
    }
    
    header section p {
        display: flex;
    }
    
    header section p a {
        border-left: 1px solid var(--ltgrey);
        border-right: 1px solid var(--ltgrey);
        margin-top: -16px;
        display: inline-table;
        text-decoration: none;
    }
    
    .subscribe {
        padding: 25px 25px 35px 25px;
    }
    
    .icon {
        font-size: 1.5em;
        padding: 16px 25px;
    }
    
    .icon:hover {
        color: var(--white);
        background-color: var(--red);
    }

    main {
        border-top: 42vh solid var(--ltgrey);
    }

    .topstories, .shops, .news, .fashion {
        border-bottom: 42vh solid var(--ltgrey);
        border-top: 1px solid var(--bordergrey);
    }

    .tilerow {
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    
    .tilerow p {
        text-align: left;
        font-weight: normal;
        color: var(--grey);
    }

    .tilebg p {
        text-align: center;
        font-weight: 700;
        color: var(--white);
    }

    .tilefw {
        grid-column: 1/-1;
    }

    .tilefw a {
        display: flex;
        flex-direction: column;
    }
    .tilefw a p {
        color: var(--grey);
        text-align: left;
    }

    .tilefw a div h2 {
        color: var(--black);
        text-align: left;
        font-size: 3rem;
        font-style: italic;
        max-width: 80%;
    }

    .tilefw a div {
        padding-top: 0;
        padding-left: 1vw;
        margin-top: 0;
        margin-left: 20%;
        margin-bottom: 3rem;
        border-left: 2px solid var(--black);
    }

    .attribute::before {
        content: "";
        background: rgb(184, 154, 106) none repeat scroll 0% 0%;
        width: 40px;
        height: 4px;
        display: block;
        margin: 24px 0px 12px;
    }
    
    .smtiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2/-1;
        margin-top: -1em;
    }

    .tilesm a {  
        display: flex;
        flex-direction: column;
        border-bottom: none;
        margin: 1rem;
    }

    .tilesm a img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: 100%;
    }

    .tilesm a div {
        background-color: var(--white);
        padding: 1rem;
        max-width: 80%;
        align-self: end;
        margin-top: -2rem;
    }

    .tilerow a.more {
        grid-column: 3/-1;
        border-top: 1px solid var(--bordergrey);
        padding-top: 3em;
    }

    .tilerow a.more p {
        font-size: 0.7rem;
        font-weight: 700;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .tilerow a.more .morebutton {
        
        font-weight: 700;
        padding: 13px 0px;
        line-height: 16px;
        border-width: 3px;
        border-style: solid;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--white);
        background: var(--red) none repeat scroll 0% 0%;
        border-color: var(--red);
        border-radius: 50%;
        width: 48px;
        margin-left: 43%;
        margin-top: 0.6rem;
    }

    .fashion .tilerow {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .fashion .tilerow .tilesm {
        max-width: 20vw;
    }
    .fashion .more {
        /* forces the last item of flex to go to right */
        margin-left: auto;
        width: 20vw;
    }
    .more {
        margin-bottom: 3rem;
    }

    /* color on hover */
    
    article a {
        position: relative;
        float: left;
        cursor: pointer;
    }

    article a:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 255, 255, 0);
        transition: all 0.3s linear;
      }
      
      article a:hover:before {
        background: none;
        background: rgba(255, 0, 0, 0.5);
      }

      /* gradient over big image */
      /* use the not selector to not pick the full width tiles */

      .tilebg:not(.tilefw) a:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        display:inline-block;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }

      /* raise the p above the gradient */
      .tilebg a p, .tilebg a h2 {
          position: relative;
          z-index: 1;
      }

}