/* -- colours -- */

:root {
    --grey: #2D2E2F;
    --ltgrey: #F2F2F2;
    --dkgrey: #242526;
    --bordergrey: #CBCCCE;
    --red: #EE0000;
    --white: #ffffff;
    --black: #000000;

}

/* -- text styles -- */

body {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

header a {
    font-family: Helvetica Neue, sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 600;
    letter-spacing: 0.2em;
}

header a:hover {
    color: var(--red)
}

h1 {
    font-size: 4em;
    font-weight: lighter;
    border-top: 8px solid var(--black);
    display: inline-block;
    margin-top: 0;
}

.subnavbtn {
    background-color: var(--white);
    border: none;
        color: var(--red);
        padding: 20px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica Neue, sans-serif;
        font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.subnavbtn span {
    color: var(--grey);
}

.subnavbtn:hover {
    background-color: var(--ltgrey);
}

/* -- layout -- */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    border-top: solid 15px var(--black);
    border-bottom: 20px solid var(--ltgrey);
    display: grid;
}

header section img {
    max-width: 284px;
    margin-top: 65px;
    margin-left: 4%;
    margin-bottom: 16px;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header section .subnav {
    max-width: 30%;
    margin-right: 5%;
    text-align: right;
}

header section .subnav button {
    margin-top: 45px;

}

.subnav-content {
    display: none;
}

header .headerbtm {
    border-top: solid 1px var(--ltgrey);
    border-bottom: solid 1px var(--bordergrey);
    height: 60px;
}

header section nav {
    width: 65%;
}


header section nav ul {
    margin-left: 6%;
    margin-right: 5%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 58px;
}

header section nav ul li a {
    text-decoration: none;
    padding: 8px;
    display: block;
    text-align: center;
}

header section p {
    display: flex;
}

header section p a {
    border-left: 1px solid var(--ltgrey);
    border-right: 1px solid var(--ltgrey);
    margin-top: -16px;
    display: inline-table;
    text-decoration: none;
}

.subscribe {
    padding: 25px 25px;
}

.icon {
    font-size: 1.5em;
    padding: 16px 25px;
}

.icon:hover {
    color: var(--white);
    background-color: var(--red);
}

.topstories {
    border-top: 1px solid var(--black);
    padding-left: 5%;
    padding-right: 5%;
}

.tilerow {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-columns: : repeat(auto-fit, minmax(250px, 1fr)); */
}

/* tiles */

.tilexl {

}

.tilebg {
   overflow: hidden;
}

.tilesm {
   
}