/** colours **/
body {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(79, 43, 132, 1) 66%);
  background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(79, 43, 132, 1) 66%);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(79, 43, 132, 1) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#4f2b84", GradientType=1);
  color: #fff;
}

/** text styles **/
body {
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

nav ul li a {
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}

h1 {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: .005em;
  line-height: 1.17em;
  margin-bottom: .5em;
  max-width: 256px;
}

article p {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .01em;
  line-height: 16px;
  margin-bottom: 1.8em;
  color: #62359B;
}

article .button {
  border: 2px solid #62359B;
  color: #62359B;
  line-height: 52px;
  padding: 0.8em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

article .button:hover {
  border: 4px solid #62359B;
}

/** grid and layout **/
body {
  display: grid;
  grid-template-columns: 100px 1fr 300px;
  height: 100vh;
  align-items: start;
  margin: 0;
}

header {
  grid-column: 1/2;
  grid-row: 1/3;
  transform: rotate(-90deg);
}

nav {
  grid-column: 3/-1;
  grid-row: 1/3;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  justify-self: end;
  margin-top: 40px;
  height: 100vh;
  margin-right: 2em;
}

main {
  grid-column: 2/-1;
  grid-row: 1;
}

nav ul {
  text-align: right;
  list-style-type: none;
  line-height: 1.5em;
}

nav ul li div ul {
  display: flex;
  justify-content: space-between;
}

article {
  grid-row: 1;
  height: 50vh;
}

.btm {
  grid-column: 1/-1;
  grid-row: 2;
  background: #fff;
  height: 50vh;
}

.logo {
  width: 150px;
  margin-left: -100px;
  /* convert the purple svg logo to white */
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(158deg) brightness(105%) contrast(105%);
}

.logo path {
  fill: #fff;
}

nav .move {
  color: #000;
  padding-top: 15px;
}

/*rotate image to straight and position in centre of screen */
main img {
  transform: rotate(14deg);
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin: auto;
}
